body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
header {
    border-bottom: 5px solid #999;
    margin-bottom: 2rem;
    display: flex;
}
header h1 a {
    
    color:red;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-left {
    display: flex;
    padding-top: 2 rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    
    margin: 0.5 rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color:blue;
    text-decoration: none;
}

.post-entry p {
    /* font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal; */
    font-family: "Playwrite US Trad Guides", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
.post-entry h2 a:hover {
    color:red;
}
